@mixin funcionPrueba{
    color: green;
    font-size: 30px;
    border-radius: 999px;
    border:1px solid red
}

@mixin funcionParametros($color, $tamano, $sombra ){
    color:$color;
    font-size: $tamano;
    box-shadow: 2px 2px 3px $sombra;
    width: 150px
}

#cabecera{
   @include funcionPrueba();
}
#menu{
    @include funcionParametros(red, 13px, green )
}