*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 80%;
    margin: auto;
    min-height: 600px;
    margin-top: 40px;
    border:1px solid #7367f0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 2fr ;
    grid-auto-rows: 1fr;
    grid-gap:20px;
    
}
.caja{
    background-color:#7367f0 ;
    text-align: center;
    
}

.container .segundo{
 grid-column: 2 / 3;
}
.container .quinto{
    grid-column-start:3;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 5;
   }